<div class="roomId container">
    <h1 class="d-inline text-center mr-0" style="margin-bottom: 15px;">PRACTISE</h1>
</div>
<div *ngIf="show" class="container">
    <div class="row">
        <input class ="col-5 form-control" type="text" placeholder="Enter your name" [(ngModel)]="name" style="margin: 0 50px 0 0;">
        <button (click)="play()">Play</button>
    </div>
</div>

<div style="display: none;" class="container" id="game"> 
    <div class="row" style="margin-bottom: 20px;">
        <h5 class="text-center col" >{{ name }}</h5>
    </div>
    <div  class="row progress" style="padding: 0;width: 89%;" style="margin-bottom: 20px;">
        <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" [style]="styleExpression"></div>
    </div>
    <div class="row" style="margin-bottom: 20px;">
        <div class="col">
            <span *ngIf="successWord" style="color: #99cc00;">{{ successWord.join(" ")}} </span>
            <span *ngIf="startCurrentWord" name="start" style="text-decoration: underline" [style.color]="getCurrentWordStyle()">{{startCurrentWord}}</span>
            <span *ngIf="currentWordError" name="error" style="text-decoration: underline" style="color: #d08383;">{{currentWordError}}</span>
            <span *ngIf="endCurrentWord" name="end" style="text-decoration: underline">{{endCurrentWord}}</span>
            <span *ngIf="nextWord"> {{nextWord.join(" ") }}</span>
        </div>
    </div>
    <input id="input" type="text" class="form-control row" [style.color]="getCurrentWordStyle()" [(ngModel)]="input" (ngModelChange)="onInputChange()"/>
    <button class="row" style="margin-top: 20px;" (click)="reset()">Play again</button>
</div>
