<div class="container">
    <div class="d-flex justify-content-around">
        <span style="font-weight: bold;"> {{name}} </span>
        <span> room ID: {{roomId}} </span>
    </div>
    <div class="row" style="margin-top: 20px;">
        <input placeholder="Enter room ID" type="text" [(ngModel)]="inputRoomId" class="form-control col-5" style="margin-left: 250px;"/>
        <input type="button" value="JOIN" (click)="joinRoom(inputRoomId)" class="btn btn-primary" style="margin-left: 50px;"/>
    </div>
</div>

<!-- gameplay area -->
<div class="container" style="margin-top: 15px;">
    <div *ngFor="let player of playerList"  class="row progress" style="padding: 0;width: 89%;" style="margin-bottom: 20px;">
        <div [id]="id" class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" [style]="player.progress"></div>
    </div>
</div>

<div *ngIf="show" class="container">
    <div class="row">
        <button (click)="ready()">Ready</button>
    </div>
</div>

<div class="container" style="margin-top: 20px;">
    <div class="row text-center"><h1 class="text-center" style="width: 100%;">{{countDown}}</h1></div>
    <div class="row text-center"><h1 class="text-center" style="width: 100%;">{{wordPerMinute}}</h1></div>
</div>

<div style="display: none;" class="container" id="game"> 
    <div class="row" style="margin-bottom: 20px;">
        <div class="col">
            <span *ngIf="successWord" style="color: #99cc00;">{{ successWord.join(" ")}} </span>
            <span *ngIf="startCurrentWord" name="start" style="text-decoration: underline" [style.color]="getCurrentWordStyle()">{{startCurrentWord}}</span>
            <span *ngIf="currentWordError" name="error" style="text-decoration: underline" style="color: #d08383;">{{currentWordError}}</span>
            <span *ngIf="endCurrentWord" name="end" style="text-decoration: underline">{{endCurrentWord}}</span>
            <span *ngIf="nextWord"> {{nextWord.join(" ") }}</span>
        </div>
    </div>
    <input id="input" type="text" class="form-control row" [style.color]="getInputStyle()" [(ngModel)]="inputValue" (ngModelChange)="onInputChange()" />
    <button class="row" style="margin-top: 20px;" (click)="reset()">Play again</button>
</div>


<!-- player list area -->
<div class="container" style="margin-top: 30px;">
    <table class="row" style="background-color: whitesmoke; padding: 10px">
        <td class="col-8">
            <tr style="font-size: larger; font-weight: bold;">Chat</tr>
            <tr class="border border-secondary rounded row" style="width: 100%; height: 200px;">
                <!-- chat area -->
                <div id="chatbox" style="width: 100%; height: 100%; overflow-y: auto; overflow-x: hidden;">

                </div>
            </tr>
            <tr class="row" style="width: 100%;">
                <input type="text" class="form-control" style="margin-top: 10px;" [(ngModel)]="messageInput"/>
            </tr>
        </td>
        <td class="col-4">
            <tr style="font-size: larger; font-weight: bold;">Who's here</tr>
            <tr  id="list-player" class="border border-secondary rounded row" style="width: 100%; height: 200px;">
                <!-- list player -->
                <div *ngFor="let player of playerList" style="font-size: small; font-weight: bold; width: 100%;">
                    {{player.userName}} <span *ngIf="player.id == id" style="font-size: small; font-weight: bold;"> (you)</span>
                </div>
                <!-- <div *ngIf="playerList.length == undefined" >{{playerList}}</div> -->
            </tr>
            <tr class="row" style="width: 100%;">
                <input #input type="button" class="btn btn-primary" style="margin-top: 10px;" value="Chat" (click)="submitChat()"/>
            </tr>
        </td>
    </table>
</div>