<div class="container">
    <div class="d-flex justify-content-around">
        <span style="font-weight: bold;"> {{name}} </span>
        <span> room ID: {{roomId}} </span>
    </div>
    <div class="row" style="margin-top: 20px;">
        <input placeholder="Enter room ID" type="text" [(ngModel)]="inputRoomId" class="form-control col-5" style="margin-left: 250px;"/>
        <input type="button" value="JOIN" (click)="joinRoom()" class="btn btn-primary" style="margin-left: 50px;"/>
    </div>
</div>

<!-- gameplay area -->


<!-- player list area -->
<div class="container" style="margin-top: 30px;">
    <table class="row" style="background-color: whitesmoke; padding: 10px">
        <td class="col-8">
            <tr style="font-size: larger; font-weight: bold;">Chat</tr>
            <tr id="chatbox" class="border border-secondary rounded row" style="width: 100%; min-height: 100px;">
                <!-- chat area -->
                <div style="width: 100%; height: 100%;"></div>
            </tr>
        </td>
        <td class="col-4">
            <tr style="font-size: larger; font-weight: bold;">Who's here</tr>
            <tr  id="list-player" class="border border-secondary rounded row" style="width: 100%; min-height: 100px;">
                <!-- list player -->
                <div *ngFor="let player of playerList; index as i" style="font-size: small; font-weight: bold;">
                    {{player}} <span *ngIf="i > 1" style="font-size: small; font-weight: bold;"> (you)</span>
                </div>
            </tr>
        </td>
    </table>
</div>